.padding-row {
  padding: 0em 2em;
}
.footer-layout {
  background-color: #0e164b;
}
.logo-footer {
  width: 320px;
  height: 200px;
}
.white-title {
  color: #fff;
  font-weight: 600;
  font-size: 22px;
  margin-top: 2vmax;
}
.white-subtitle {
  color: #fff;
  font-size: 16px;
}
.divider {
  background-color: #fff;
}
.hyperlink-footer {
  color: #fff;
  font-size: 18px;
}
.hyperlink-footer-evermart {
  color: #fff;
  font-size: 18px;
}
.hyperlink-footer-evermart:hover {
  color: #57b1ef;
}
.hyperlink-footer-evermart .active {
  color: #57b1ef;
}
.rounded-icon {
  background-color: transparent;
  border: 3px solid #ffffff;
  color: #ffffff;
}
.rounded-icon:hover {
  background-color: transparent;
  border: 3px solid #57b1ef;
  color: #57b1ef;
}

@media screen and (max-width: 800px){
  .logo-footer{
    margin-left: 20vmax;
  } 
}
@media screen and (max-width: 700px){
  .logo-footer{
    width: 300px;
    height: 180px;
    margin-left: 15vmax;
  } 
}
@media screen and (max-width: 600px){
.padding-row {
    padding: 0em !important;
  }
  .logo-footer{
    width: 290px;
    height: 170px;
    margin-left: 2vmax;
  }
  .hyperlink-footer {
    font-size: 17px;
  }
  .hyperlink-footer-evermart {
    font-size: 17px;
  }
}

@media screen and (max-width: 400px) {
  .padding-row {
    padding: 0em !important;
  }
  .logo-footer{
    width: 240px;
    height: 150px;
    margin-left: 25px;
  }
  .hyperlink-footer {
    font-size: 15px;
  }
  .hyperlink-footer-evermart {
    font-size: 15px;
  }
}

@media screen and (max-width: 350px) {
  .logo-footer{
    margin-left: 10px;
  }
  .white-subtitle {
    font-size: 14px;
  }
  .hyperlink-footer {
    font-size: 13px;
  }
  .hyperlink-footer-evermart {
    font-size: 13px;
  }
  .white-title {
    font-size: 20px;
  }
}

@media screen and (max-width: 300px) {
  .logo-footer{
    width: 200px;
    height: 120px;
    margin-left: 0px !important;
  }
  .white-subtitle {
    font-size: 13px;
  }
  .hyperlink-footer {
    font-size: 11px;
  }
  .hyperlink-footer-evermart {
    font-size: 11px;
  }
  .white-title {
    font-size: 18px;
  }
}
