.footer-layout {
  background-color: #0e164b;
}
.white-title{
  color: #fff;
  font-weight: 600;
  font-size: 22px;
  margin-top: 2vmax;
}
.white-subtitle{
  color: #fff;
  font-size: 16px;
}
.divider {
  background-color: #fff;
}
.hyperlink-footer {
  color: #fff;
  font-size: 18px;
}
.hyperlink-footer-evermart {
  color: #fff;
  font-size: 18px;
}
.hyperlink-footer-evermart:hover {
  color: #57b1ef;
}
.hyperlink-footer-evermart .active {
  color: #57b1ef;
}
.rounded-icon {
  background-color: transparent;
  border: 3px solid #ffffff;
  color: #ffffff;
}
.rounded-icon:hover {
  background-color: transparent;
  border: 3px solid #57b1ef;
  color: #57b1ef;
}
