.navbarlayout {
  height: 5vmax;
  background-color: #0e164b;
}
.white-titlenavbar {
  font-size: 20px;
}
.white-subtitlenavbar {
  color: #fff;
  font-size: 18px;
  line-height: 8mm;
}
.icon-navbar {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
}
.icon-navbar:hover {
  color: #57b1ef;
}
.icon-navbar .active {
  color: #57b1ef;
}
.hyperlink {
  color: #fff;
  font-size: 18px;
}
.hyperlink:hover {
  color: #57b1ef;
}
.hyperlink .active {
  color: #57b1ef;
}
.btnaccess {
  border: none;
  border-radius: 15px;
  background-color: #57b1ef;
  color: #fff;
  font-size: 16px;
  height: 2.5vmax;
  padding: 0em 2em;
  font-weight: 600;
}
.btnaccess:hover {
  background-color: #57b1ef;
  color: #fff;
}

/* css da segunda parte da navbar */
.content-announcement {
  background-color: #0e164b;
  padding: 5em 10em;
  height: 35vmax;
}

.btnfaq {
  border: none;
  border-radius: 15px;
  padding: 0em 6em;
  font-size: 20px;
  color: #fff;
  background-color: #57b1ef;
  height: 3.5vmax;
}
.btnfaq:hover {
  color: #fff;
  background-color: #57b1ef;
}
.whiteicon-btn {
  margin-right: 15px;
}

.logo-everhooks {
  width: 100px;
  height: 50px;
  cursor: pointer;
}
.btnaccess-responsive {
  visibility: collapse;
}
.logo-evermart {
  width: 300px;
}
.person-woman {
  width: 360px;
  height: 320px;
}

@media screen and (max-width: 900px) {
  .logo-everhooks {
    width: 90px !important;
    height: 50px !important;
  }
  .navbarlayout {
    height: 15vmax !important;
    padding: 0em 1em;
  }
  .hyperlink {
    display: none;
  }
  .btnaccess {
  height: 4vmax !important;
  padding: 0em 2em;
  font-weight: 600;
  }
  .btnaccess-responsive {
    visibility: none;
  }
  /* css da segunda parte da navbar */
  .content-announcement {
    padding: 3em 4em;
    height: 68vmax !important;
  }
  .white-titlenavbar {
    font-size: 25px !important;
  }
  .logo-evermart {
    width: 300px;
  }
  .white-subtitlenavbar {
    font-size: 17px !important;
    line-height: 8mm !important;
  }
  .btnfaq {
    padding: 0em 2em !important;
    font-size: 20px !important;
    height: 5vmax !important;
  }
  .person-woman {
    width: 280px;
    height: 200px;
    margin-left: 5px;
  }
}

@media screen and (max-width: 800px) {
  .btnaccess {
  display: none;
  }
  .btnaccess-responsive {
    visibility: visible;
    color: #fff;
    background-color: #57b1ef;
    border: none;
    border-radius: 10px;
    font-size: 30px;
    padding: 1em 0.3em;
    margin-top: 15px;
  }
  /* css da segunda parte da navbar */
  .content-announcement {
    padding: 3em 4em;
    height: 90vmax !important;
  }
  .btnfaq {
    padding: 0em 2em !important;
    font-size: 17px !important;
    height: 8vmax !important;
  }
}

@media screen and (max-width: 500px) {
  .content-announcement {
    padding: 3em 4em;
    height: 90vmax !important;
  }
  .white-titlenavbar {
    font-size: 20px;
  }
  .logo-evermart {
    width: 200px;
  }
  .white-subtitlenavbar {
    font-size: 14px !important;
    line-height: 5mm !important;
  }
  .btnfaq {
    padding: 0em 2em !important;
    font-size: 17px !important;
    height: 8vmax !important;
  }
  .person-woman {
    width: 320px;
    height: 250px;
    margin-left: 10px;
  }
  .btnfaq {
    padding: 0em 2em !important;
    font-size: 17px !important;
    height: 8vmax !important;
  }
}


@media screen and (max-width: 400px) {
  .logo-everhooks {
    width: 80px !important;
    height: 50px !important;
  }
  .navbarlayout {
    height: 15vmax !important;
    padding: 0em 1em;
  }
  .hyperlink {
    display: none;
  }
  .btnaccess {
    display: none;
  }
  .btnaccess-responsive {
    visibility: visible;
    color: #fff;
    background-color: #57b1ef;
    border: none;
    border-radius: 10px;
    font-size: 30px;
    padding: 1em 0.3em;
    margin-top: 15px;
  }
  /* css da segunda parte da navbar */
  .content-announcement {
    padding: 3em 2em;
    height: 90vmax !important;
  }
  .white-titlenavbar {
    font-size: 20px;
  }
  .logo-evermart {
    width: 200px;
  }
  .white-subtitlenavbar {
    font-size: 14px !important;
    line-height: 5mm !important;
  }
  .btnfaq {
    padding: 0em 2em !important;
    font-size: 17px !important;
    height: 8vmax !important;
  }
  .person-woman {
    width: 250px;
    height: 190px;
    margin-left: 25px;
  }
}
