.navbarlayout {
  height: 5vmax;
  background-color: #0e164b;
}
.icon-navbar {
  color: #fff;
  font-size: 22px;
}
.icon-navbar:hover {
  color: #57b1ef;
}
.icon-navbar .active {
  color: #57b1ef;
}
.hyperlink {
  color: #fff;
  font-size: 18px;
}
.hyperlink:hover {
  color: #57b1ef;
}
.hyperlink .active {
  color: #57b1ef;
}
.btnaccess{
    border: none;
    border-radius: 15px;
    background-color: #57b1ef;
    color: #fff;
    font-size: 16px;
    height: 2.5vmax;
    padding: 0em 2em;
    font-weight: 600;
}
.btnaccess:hover{
    background-color: #E7F5FF;
    color: #0e164b;
}
.content-announcement{
  background-color: #0e164b;
  padding: 5em 10em;
  height: 35vmax;
}

.btnfaq{
  border: none;
  border-radius: 15px;
  padding: 0em 6em;
  font-size: 20px;
  color: #fff;
  background-color: #57B1EF;
  height: 3.5vmax;
}
.whiteicon-btn{
  margin-right: 15px;
}