.navbarlayout {
  height: 5vmax;
  background-color: #0e164b;
}
.white-titlenavbar {
  font-size: 20px;
}
.white-subtitlenavbar {
  color: #fff;
  font-size: 18px;
  line-height: 8mm;
}
.icon-navbar {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
}
.icon-navbar:hover {
  color: #57b1ef;
}
.icon-navbar .active {
  color: #57b1ef;
}
.hyperlink {
  color: #fff;
  font-size: 18px;
}
.hyperlink:hover {
  color: #57b1ef;
}
.hyperlink .active {
  color: #57b1ef;
}
.btnaccess {
  border: none;
  border-radius: 15px;
  background-color: #57b1ef;
  color: #fff;
  font-size: 12px;
  height: 2.5vmax !important;
  padding: 0em 2em;
  font-weight: 600;
}
.btnaccess:hover {
  background-color: #57b1ef;
  color: #fff;
}
/* .a.ant-btn {
 padding-top: .01px !important;
 line-height: 30px;
}
 */

/* css da segunda parte da navbar */
.content-announcement {
  background-color: #0e164b;
  padding: 5em 10em;
  height: 35vmax;
}

.btnfaq {
  border: none;
  border-radius: 15px;
  padding: 0em 6em;
  font-size: 20px;
  color: #fff;
  background-color: #57b1ef;
  height: 3vmax;
}
.btnfaq:hover {
  color: #fff;
  background-color: #57b1ef;
}
.whiteicon-btn {
  margin-right: 15px;
}

.logo-everhooks {
  width: 100px;
  height: 50px;
  cursor: pointer;
}
.btnaccess-responsive {
  visibility: collapse;
}
.logo-evermart {
  width: 300px;
}
.person-woman {
  width: 360px;
  height: 320px;
}
.white-titlenavbar {
  color: #fff;
  font-size: 22px;
}

@media screen and (max-width: 4000px) {
  /*navbar css responsive */
  .navbarlayout {
    height: 4vmax;
    padding: 2em;
  }
  .logo-everhooks {
    width: 220px;
    height: 120px;
    cursor: pointer;
    margin-left: 2vmax;
  }
  .icon-navbar {
    font-size: 50px;
    margin-top: 5px;
  }
  .hyperlink {
    margin-top: 15px !important;
    font-size: 42px;
  }
  .btnaccess {
    font-size: 38px;
    padding: 0em 4em;
    font-weight: 650;
  }
  a.ant-btn {
    padding-top: .01px !important;
    line-height: 90px !important;
   }

  /*Header responsive css */
  .content-announcement {
    padding: 5em 10em;
    height: 20vmax;
  }
  .white-titlenavbar {
    font-size: 45px;
  }
  .logo-evermart {
    width: 600px;
  }
  .white-subtitlenavbar {
    font-size: 45px;
    line-height: 20mm;
  }
  .person-woman {
    width: 800px !important;
    height: 600px !important;
  }
}

@media screen and (max-width: 3500px) {
  /*navbar css responsive */
  .navbarlayout {
    height: 5vmax;
    padding: 2em;
  }
  .btnaccess {
    font-size: 38px;
    padding: 0em 2em;
    height: 3vmax !important;
    font-weight: 650;
  }
  a.ant-btn {
    padding-top: .01px !important;
    line-height: 90px;
  }
   
  /*Header responsive css */
  .content-announcement {
    padding: 5em 10em;
    height: 25vmax;
  }
}

@media screen and (max-width: 3000px) {
  /*navbar css responsive */
  .navbarlayout {
    height: 6vmax;
    padding: 2em;
  }
  .btnaccess {
    font-size: 35px;
    padding: 0em 2em;
    font-weight: 650;
  }
  /*Header responsive css */
  .content-announcement {
    padding: 5em 10em;
    height: 30vmax;
  }
}

@media screen and (max-width: 2600px) {
  /*navbar css responsive */
  .navbarlayout {
    height: 6vmax;
    padding: 2em;
  }
  .logo-everhooks {
    width: 200px;
    height: 110px;
    cursor: pointer;
    margin-left: 2vmax;
  }
  .icon-navbar {
    font-size: 48px;
    margin-top: 5px;
  }
  .hyperlink {
    margin-top: 15px !important;
    font-size: 38px;
  }
  .btnaccess {
    font-size: 30px;
    padding: 0em 2em;
    font-weight: 650;
  }
  a.ant-btn {
    padding-top: .01px !important;
    line-height: 70px !important;
  }
  /*Header responsive css */
  .content-announcement {
    padding: 5em 10em;
    height: 30vmax;
  }
  .white-titlenavbar {
    font-size: 40px;
  }
  .logo-evermart {
    width: 550px;
  }
  .white-subtitlenavbar {
    font-size: 35px;
    line-height: 15mm;
  }
  .person-woman {
    width: 650px !important;
    height: 500px !important;
  }
}

@media screen and (max-width: 2150px) {
  /*navbar css responsive */
  .navbarlayout {
    height: 5.5vmax;
    padding: 1em;
  }
  .logo-everhooks {
    width: 180px;
    height: 100px;
    cursor: pointer;
    margin-left: 3vmax;
  }
  .icon-navbar {
    font-size: 43px;
    margin-top: 5px;
  }
  .hyperlink {
    margin-top: 15px !important;
    font-size: 35px;
  }
  .btnaccess {
    font-size: 28px;
    padding: 0em 2em;
    font-weight: 650;
  }
  a.ant-btn {
    padding-top: .01px !important;
    line-height: 60px !important;
  }
  /*Header responsive css */
  .content-announcement {
    padding: 5em 10em;
    height: 35vmax;
  }
  .person-woman {
    width: 600px !important;
    height: 500px !important;
  }
}

@media screen and (max-width: 1950px) {
  /*navbar css responsive */
  .navbarlayout {
    height: 6vmax;
    padding: 1em;
  }
  .logo-everhooks {
    width: 160px;
    height: 90px;
    cursor: pointer;
    margin-left: 4.5vmax;
  }
  .icon-navbar {
    font-size: 40px;
    margin-top: 5px;
  }
  .hyperlink {
    margin-top: 15px !important;
    font-size: 30px ;
  }
  .btnaccess {
    font-size: 25px;
    padding: 0em 2em;
    font-weight: 600;
  }
  a.ant-btn {
    padding-top: .01px !important;
    line-height: 50px !important;
  }
  /*Header responsive css */
  .content-announcement {
    padding: 5em 10em;
    height: 35vmax;
  }
  .white-titlenavbar {
    font-size: 38px;
  }
  .logo-evermart {
    width: 500px;
  }
  .white-subtitlenavbar {
    font-size: 30px;
    line-height: 12mm;
  }
  .person-woman {
    width: 550px !important;
    height: 450px !important;
  }
}

@media screen and (max-width: 1660px) {
  /*navbar css responsive */
  .navbarlayout {
    height: 6vmax;
    padding: 1em;
  }
  .logo-everhooks {
    width: 140px;
    height: 80px;
    cursor: pointer;
    margin-left: 5vmax;
  }
  .icon-navbar {
    font-size: 38px;
    margin-top: 5px;
  }
  .hyperlink {
    font-size: 27px;
  }
  .btnaccess {
    font-size: 22px;
    padding: 0em 2em !important;
  }
  a.ant-btn {
    padding-top: .01px !important;
    line-height: 45px !important;
  }
  /*Header responsive css */
  .content-announcement {
    padding: 5em 10em;
    height: 35vmax;
  }
  .white-titlenavbar {
    font-size: 35px;
  }
  .logo-evermart {
    width: 450px;
  }
  .white-subtitlenavbar {
    font-size: 25px;
    line-height: 12mm;
  }
  .person-woman {
    width: 500px !important;
    height: 400px !important;
  }
}

@media screen and (max-width: 1400px) {
  /*navbar css responsive */
  .navbarlayout {
    height: 6vmax;
    padding: 1em;
  }
  .logo-everhooks {
    width: 120px;
    height: 70px;
    cursor: pointer;
    margin-left: 5vmax;
  }
  .icon-navbar {
    font-size: 33px;
    margin-top: 5px;
  }
  .hyperlink {
    font-size: 22px;
  }
  .btnaccess {
    font-size: 18px;
    height: 2.5vmax;
    padding: 0em 1em !important;
  }
  a.ant-btn {
    padding-top: .01px !important;
    line-height: 45px !important;
  }
  /*Header responsive css */
  .content-announcement {
    padding: 5em 10em;
    height: 35vmax;
  }
  .white-titlenavbar {
    font-size: 30px;
  }
  .logo-evermart {
    width: 400px;
  }
  .white-subtitlenavbar {
    font-size: 18px;
    line-height: 10mm;
  }
  .person-woman {
    width: 400px !important;
    height: 300px !important;
  }
}

@media screen and (max-width: 1220px) {
  /*navbar css responsive */
  .navbarlayout {
    height: 6vmax;
    padding: 0.5em;
  }
  .logo-everhooks {
    width: 100px;
    height: 60px;
    cursor: pointer;
    margin-left: 7vmax;
  }
  .icon-navbar {
    font-size: 30px;
    margin-top: 5px;
  }
  .hyperlink {
    font-size: 18px;
  }
  .btnaccess {
    font-size: 16px;
    height: 2.5vmax;
    padding: 0em 1em !important;
  }
  a.ant-btn {
    padding-top: .01px !important;
    line-height: 35px !important;
  }
  /*Header responsive css */
  .content-announcement {
    padding: 5em 10em;
    height: 35vmax;
  }
  .white-titlenavbar {
    font-size: 26px;
  }
  .logo-evermart {
    width: 300px;
  }
  .white-subtitlenavbar {
    font-size: 16px;
    line-height: 8mm;
  }
  .person-woman {
    width: 350px !important;
    height: 280px !important;
  }
}

@media screen and (max-width: 1195px) {
  /*Header responsive css */
  .person-woman {
    display: none;
  }
  .content-announcement {
    padding: 5em 10em;
    height: 33vmax;
  }
}

@media screen and (max-width: 1024px){
    /*navbar css responsive */
    .navbarlayout {
      height: 8vmax;
      padding: 1em;
    }
      /*Header responsive css */
  .content-announcement {
    padding: 2em 8em;
    height: 35vmax;
  }
}

@media screen and (max-width: 995px) {
  /*navbar css responsive */
  .navbarlayout {
    height: 6vmax;
    padding: 1em;
  }
  .logo-everhooks {
    width: 90px;
    height: 50px;
    cursor: pointer;
    margin-left: 7vmax;
  }
  .icon-navbar {
    font-size: 30px;
    margin-top: 5px;
  }
  .hyperlink {
    display: none;
  }
  .btnaccess {
    display: none;
  }
  .btnaccess-responsive {
    visibility: visible !important;
    background-color: #57b1ef;
    color: #fff;
    border-radius: 15px;
    border: none;
    font-size: 25px;
    padding: 1em 0.5em;
  }
  a.ant-btn {
    padding-top: .01px !important;
    line-height: 45px !important;
  }
  /*Header responsive css */
  .content-announcement {
    padding: 2em 8em;
    height: 25vmax;
  }
  .white-titlenavbar {
    font-size: 25px;
  }
  .logo-evermart {
    width: 220px;
  }
  .white-subtitlenavbar {
    font-size: 20px;
    line-height: 6mm;
  }
}

@media screen and (max-width: 800px) {
  /*navbar css responsive */
  .navbarlayout {
    height: 9vmax;
    padding: 0em;
  }
  /*Header responsive css */
  .content-announcement {
    padding: 1.5em 7em;
    height: 39vmax;
  }
}

@media screen and (max-width: 610px) {
  /*navbar css responsive */
  .navbarlayout {
    height: 12vmax;
    padding: 0.5em;
  }
  .btnaccess-responsive {
    font-size: 24px;
    padding: 0em 0.5em;
  }
  a.ant-btn {
    padding-top: .01px !important;
    line-height: 35px !important;
  }
  /*Header responsive css */
  .content-announcement {
    padding: 0.5em 5em;
    height: 50vmax;
  }
}

@media screen and (max-width: 500px) {
  /*navbar css responsive */
  .navbarlayout {
    height: 13vmax;
    padding: 0.5em;
  }
  .logo-everhooks {
    width: 80px;
    height: 45px;
    cursor: pointer;
    margin-left: 2vmax;
  }
  .icon-navbar {
    font-size: 25px;
    margin-top: 5px;
  }
  .btnaccess-responsive {
    font-size: 24px;
    padding: 0em 0.5em;
  }
  a.ant-btn {
    padding-top: .01px !important;
    line-height: 35px !important;
  }
  /*Header responsive css */
  .content-announcement {
    padding: 0.5em 4em;
    height: 65vmax;
  }
  .white-titlenavbar {
    font-size: 19px;
  }
  .logo-evermart {
    width: 200px;
  }
  .white-subtitlenavbar {
    font-size: 14px;
    line-height: 6mm;
  }

}

@media screen and (max-width: 420px){
  /*navbar css responsive */
  .navbarlayout {
    height: 9vmax;
    padding: 0.5em;
  }
  /*Header responsive css */
  .content-announcement {
    padding: 0.5em 4em;
    height: 44vmax;
  }
  .white-titlenavbar {
    font-size: 22px;
  }
  .logo-evermart {
    width: 200px;
  }
  .white-subtitlenavbar {
    font-size: 18px;
    line-height: 6mm;
  }
}

@media screen and (max-width: 300px){
  /*navbar css responsive */
  .navbarlayout {
    height: 9vmax;
    padding: 0.5em;
  }
  .logo-everhooks {
    width: 60px;
    height: 35px;
    cursor: pointer;
    margin-left: 1vmax;
  }
  /*Header responsive css */
  .content-announcement {
    padding: 0.2em 2em;
    height: 48vmax;
  }
  .white-titlenavbar {
    font-size: 18px;
  }
  .logo-evermart {
    width: 180px;
  }
  .white-subtitlenavbar {
    font-size: 14px;
    line-height: 6mm;
  }
}