.content-home {
  background-color: #fff;
  padding: 5em;
}
.purple-title {
  color: #0e164b;
  font-size: 20px;
  font-weight: 700;
}
.raw-content {
  background-color: #fff;
  font-size: 15px;
  height: 15vmax;
  border-radius: 15px !important;
}
.btn-copy {
  border-radius: 15px;
  border: none;
  background-color: #57b1ef;
  color: #fff;
  font-size: 15px;
  height: 3vmax;
  padding: 0em 2em;
  font-weight: 550;
}
.btn-copy:hover {
  background-color: #57b1ef;
  color: #fff;
}

.tag-table {
  background-color: #0e164b;
  color: #fff !important;
  font-weight: 600;
  font-size: 16px;
  border: none;
  border-radius: 15px;
  padding: 0.2em 0.8em;
}
.tag-table {
  color: #0e164b;
  font-size: 16px;
}
.table {
  border: 1px solid #f5f5f5;
  background-color: #fff;
  padding: 1em;
  border-radius: 10px;
  border-collapse: collapse;
  width: 100%;
}

.th,
td {
  border: 1px solid #f5f5f5;
  text-align: left;
  padding: 8px;
}

@media screen and (max-width: 550px) {
  .content-home {
    padding: 2em !important;
  }
  .btn-copy {
    height: 5vmax;
    padding: 0em 2em;
  }
}

@media screen and (max-width: 450px) {
  .content-home {
    padding: 2em !important;
  }
  .btn-copy {
    height: 5vmax;
    width: 27vmax;
    font-size: 0.7em;
    padding: 0 0.5em 0 0;
  }
}

@media screen and (max-width: 380px) {
  .content-home {
    padding: 2em !important;
  }
  .btn-copy {
    height: 4vmax;
    width: 25vmax;
    font-size: 0.6em;
    padding: 0em 0em;
  }
}

@media screen and (max-width: 300px) {
  .content-home {
    padding: 2em !important;
  }
  .btn-copy {
    height: 4vmax;
    width: 22vmax;
    font-size: 0.6em;
    padding: 0em 0em;
  }
}

@media screen and (max-width: 280px) {
  .content-home {
    padding: 2em !important;
  }
  .btn-copy {
    height: 4vmax;
    width: 20vmax;
    font-size: 0.5em;
    padding: 0em 0em;
  }
}

@media screen and (max-width: 200px) {
  .content-home {
    padding: 2em !important;
  }
  .btn-copy {
    height: 4vmax;
    width: 20vmax;
    font-size: 0.4em;
    padding: 0em 0em;
  }
}

@media screen and (max-width: 100px) {
  .content-home {
    padding: 2em !important;
  }
  .btn-copy {
    height: 4vmax;
    width: 15vmax;
    font-size: 0.3em;
    padding: 0em 0em;
  }
}

@media screen and (max-width: 50px) {
  .content-home {
    padding: 2em !important;
  }
  .btn-copy {
    height: 4vmax;
    width: 4vmax;
    padding: 0em 2em;
  }
}

