.content-home{
    background-color: #fff;
    padding: 5em;
}
.card-documentation{
    padding: 1em;
    border-radius: 15px;
    height: 100vmin;
}

.btn-sider {
    width: 25vmin;
    height: 12vmin;
    margin-top: 3vmin;
    border: none;
    color: gray;
}
.btn-sider:hover{
    background-color: #E7F5FF;
    color: #0E164B;
    border-radius: 10px;
    border: none;
}
.icon-sider{
    margin-top: 2vmin;
    font-size: 22px;
}
.title-sider{
font-weight: 480;
font-size: 16px;
}
.illustrantion{
    width:200px;
}