.content-home {
  background-color: #fff;
  padding: 5em;
}

.card-home {
  background-color: #e7f5ff;
  padding: 1em;
  border-radius: 15px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px;
  min-height: 100vmax;
}
.titlegray {
  color: #9497ab;
  font-size: 18px;
}
.search-input {
  border-radius: 15px;
  border: none;
  background-color: #fff;
  color: #9497ab;
  height: 2.5vmax;
}

.card-request {
  background-color: #0e164b;
  border-radius: 15px;
  border: none;
  color: #fff;
  cursor: pointer;
}
.tag-post {
  background-color: #9d85bd;
  border: 1px solid #7745ba;
  color: #fff;
  font-weight: 500;
  border-radius: 15px;
  padding: 0.2em 2em;
}
.white-description {
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  line-height: 0mm;
}
.delete {
  border-radius: 5px;
  font-weight: 500;
  margin-top: 1.5vmax;
}
.white-divider {
  background-color: #fff;
  height: 1px;
  border: none;
}
.btn-help{
    background-color: #57b1ef;
    border: none;
    border-radius: 15px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 0em 2em;
}
.purple-description{
    color: #0e164b;
    font-weight: 400;
    font-size: 16px;
}
.purple-title{
    color: #0e164b;
    font-weight: 600;
    font-size: 15px;
}
.input-https{
    background-color: #C9E9FF;
    color: #0e164b;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    padding: 0.4em 1em;
}